html {
	color-scheme: dark;
	font-family: "Freckle Face", display;

	--gray: oklch(85% 0 0);
	--purple: oklch(85% 0.075 300);
	--blue: oklch(85% 0.075 210);
	--green: oklch(85% 0.075 150);
	--yellow: oklch(85% 0.075 90);
	--orange: oklch(85% 0.075 60);
	--red: oklch(85% 0.075 30);
}

body {
	background-color: color-mix(in lch, var(--gray), oklch(0% 0 0) 10%);
}
