@keyframes clicked {
	0% {
		transform: rotateY(180deg) scale(1);
	}

	50% {
		transform: rotateY(90deg) scale(1.03125);
	}

	100% {
		transform: rotateY(0deg) scale(1);
	}
}

@keyframes flipped {
	0% {
		transform: rotateY(0deg) scale(1);
	}

	50% {
		transform: rotateY(90deg) scale(1.03125);
	}

	100% {
		transform: rotateY(180deg) scale(1);
	}
}

@keyframes matched {
	0% {
		transform: rotateY(180deg) scale(1);
	}

	50% {
		transform: rotateY(360deg) scale(1.03125);
	}

	100% {
		transform: rotateY(540deg) scale(1);
	}
}

@keyframes completed {
	0% {
		transform: rotateY(540deg) scale(1);
	}

	50% {
		transform: rotateY(1080deg) scale(1.03125);
	}

	100% {
		transform: rotateY(1620deg) scale(1);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
	max-inline-size: 100%;
	touch-action: manipulation;
}

:host {
	display: grid;
	block-size: 100%;
	inline-size: 100%;
	container-type: size;
	place-content: safe center;
}

memory-cards {
	max-inline-size: 100cqi;
	padding-block: var(--gap);
	display: grid;
	place-content: safe center;
	max-block-size: 100cqb;
	gap: var(--gap);
	grid-template-columns: repeat(var(--columns), 1fr);

	--gap: 1.5cqmin;
	--columns: 1;

	@container (aspect-ratio <= 10/42) {
		inline-size: 100cqi;
		aspect-ratio: 10/42;

		--columns: 2;
	}

	@container (aspect-ratio > 10/42) and (aspect-ratio <= 15/28) {
		inline-size: 100cqi;
		aspect-ratio: 15/28;

		--columns: 3;
	}

	@container (aspect-ratio > 15/28) and (aspect-ratio <= 20/21) {
		block-size: 100cqb;
		aspect-ratio: 20/21;

		--columns: 4;
	}

	@container (aspect-ratio > 20/21) {
		block-size: 100cqb;
		aspect-ratio: 30/14;

		--columns: 6;
	}
}

button {
	appearance: none;
	border: none;
	border-radius: 0.5rem;
	display: block;
	position: relative;
	inline-size: auto;
	aspect-ratio: 5 / 7;
	background: oklab(0 0 0 / 0.25);

	&:where(:empty) {
		border-radius: 0.5rem;
		box-shadow: 0 0 0.5cqmin 0 oklab(0 0 0 / 0.1);
		background: oklch(90% 0.2 300);
		font-size: calc(45cqi / var(--columns));
		block-size: 100%;
		inline-size: 100%;
		display: block;
		place-content: center;

		&::before {
			content: "🦉";
		}
	}
}

.faces {
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 0;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5cqmin 0 oklab(0 0 0 / 0.1);
	background: oklch(90% 0.2 300);
	font-size: calc(45cqi / var(--columns));
	block-size: 100%;
	inline-size: 100%;
	transform-style: preserve-3d;
	animation-timing-function: linear;
	animation-fill-mode: forwards;

	:where(.clicked) & {
		animation-name: clicked;
		animation-duration: 0.4s;
	}

	:where(.flipped) & {
		animation-name: flipped;
		animation-duration: 0.4s;
	}

	:where(.matched) & {
		animation-name: matched;
		animation-duration: 1.2s;
	}

	:where(.completed) & {
		animation-name: completed;
		animation-duration: 1.8s;
	}
}

.front,
.back {
	display: grid;
	place-content: center;
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 0;
	block-size: 100%;
	inline-size: 100%;
	border-radius: 0.5rem;
	user-select: none;
	-webkit-user-select: none;
}

.front {
	backface-visibility: hidden;
	background: var(--purple);
}

.back {
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background: var(--back-background);
}
