*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  max-inline-size: 100%;
  touch-action: none;
}

:root {
  block-size: 100%;
  font-family: system-ui, sans-serif;
  font-weight: 700;
  font-size: 125%;
}
