@import "./base.css" layer;
@import "./page.css" layer;
@import "../elements/memory-game.css" layer;

:root {
  color-scheme: dark;

  --blue: oklch(85% 0.075 210);
  --brown: oklch(85% 0.03 60);
  --gray: oklch(85% 0 0);
  --green: oklch(85% 0.075 150);
  --orange: oklch(85% 0.075 60);
  --purple: oklch(85% 0.075 300);
  --red: oklch(85% 0.075 15);
}

.page {
  color: #222;
  background-image: none;
  background-color: oklch(from var(--gray) calc(l - 0.1) c h);
}
