@layer page, page-variant, component;

@import "./page.css" layer(page);
@import "./memory-game.css" layer(component);

@layer page-variant {
  :root {
    color-scheme: light;

    --gray: oklch(90% 0 0);
    --purple: oklch(90% 0.15 300);
    --blue: oklch(90% 0.15 210);
    --green: oklch(90% 0.15 150);
    --yellow: oklch(90% 0.15 90);
    --orange: oklch(90% 0.15 60);
    --red: oklch(90% 0.15 30);
  }

  .page {
    color: #222;
    background-image: none;
    background-color: oklch(from var(--purple) calc(l + 0.7) calc(c - 0.1) h);
  }
}
